extends layout

block content
  .container
    form#J_Form.form-signin(action = 'chat', method= 'post')
      h2.form-signin-heading Jason's Chat Room
      label.sr-only(for='J_Name') Username
      input#J_Name.form-control(type='text',placeholder='Username', required='',autofocus='',name='username')
      label.sr-only(for='J_Password') Password
      input#J_Password.form-control(type='password',placeholder='Password',required='')
      .checkbox
        label.font
          input#J_IsSignin(type='checkbox',value='New User')
          |New User
      button#J_Submit.btn.btn-lg.btn-primary.btn-block(type='submit') Log In
block append footerScript
  script(src='/js/index.js')